* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  background: black;
  color: white;
  /* background: url("../assets/background.gif") center center fixed;
  background-size: cover; */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
  border: 4px solid blue;
  transition: all 0.3s ease;
}

.content-wrapper header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid red;
}

/* Animation when any section is targeted */
body:has(main #about:target) .content-wrapper header,
body:has(main #projects:target) .content-wrapper header,
body:has(main #contact:target) .content-wrapper header {
  border: 4px solid green;
}

/* Change header-container color when sections are active */
body:has(main #about:target) .content-wrapper header,
body:has(main #projects:target) .content-wrapper header,
body:has(main #contact:target) .content-wrapper header {
  justify-content: flex-start;
  align-items: flex-start;
}

/* Target body when sections are active */
body:has(main #about:target) .content-wrapper,
body:has(main #projects:target) .content-wrapper,
body:has(main #contact:target) .content-wrapper {
  flex-direction: row;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}

/* Show main when sections are active */
body:has(main #about:target) .content-wrapper main,
body:has(main #projects:target) .content-wrapper main,
body:has(main #contact:target) .content-wrapper main {
  display: flex;
}

.content-wrapper header .header-title a {
  text-decoration: none;
  color: white;
}

.content-wrapper header .header-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ccc;
}

.content-wrapper header .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.content-wrapper header .header-container .nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.content-wrapper header .header-container .nav-links a:hover {
  color: gray;
}

.content-wrapper header .header-container .nav-links {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.content-wrapper main {
  display: none;
  flex: 2;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid blue;
  color: white;
}

.content-wrapper main .about-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.content-wrapper main .projects-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.content-wrapper main .contact-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

#about:target,
#projects:target,
#contact:target {
  display: flex;
}

.content-wrapper main .projects-container .projects-list {
  list-style: none;
  text-align: right;
}

.content-wrapper main .projects-container .projects-list a {
  text-decoration: none;
  color: white;
}

footer {
  padding: 1rem;
  text-align: center;
  border: 1px solid green;
  color: white;
}
