* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  background: black;
  color: white;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.content-wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
  transition: all 0.3s ease;
}

.content-wrapper header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.content-wrapper header .header-title a {
  text-decoration: none;
  color: white;
}

.content-wrapper header .header-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ccc;
}

.content-wrapper header .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.content-wrapper header .header-container .nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.content-wrapper header .header-container .nav-links a:hover {
  color: gray;
}

.content-wrapper header .header-container .nav-links {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.content-wrapper main {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.content-wrapper main .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-wrapper main .projects-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-wrapper main .contact-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects:target,
#contact:target {
  display: flex;
}

#projects:target ~ .about-container,
#contact:target ~ .about-container {
  display: none;
}

.projects-container .projects-list {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.projects-container .projects-list li {
  margin-bottom: 2.5rem;
}

.projects-container .projects-list a {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: white;
  text-decoration: none;
  line-height: 1.1;
  display: inline-block;
}

.projects-container .projects-list .project-details {
  display: block;
  font-size: 1rem;
  color: #ccc;
  font-weight: 300;
  margin-top: 0.2em;
  letter-spacing: 0.01em;
}

@media (min-width: 768px) {
  .projects-container .projects-list a {
    font-size: 4rem;
  }
  .projects-container .projects-list .project-details {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .projects-container .projects-list a {
    font-size: 5rem;
  }
  .projects-container .projects-list .project-details {
    font-size: 1.2rem;
  }
}

footer {
  padding: 1rem;
  text-align: center;
  color: white;
}
